.item {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    color: white;
    display: grid;
    width: 311.5px;
    border-radius: 4px;
    grid-template-rows: 1fr minmax(115px, max-content);
}

.metaContainer {
    grid-area: 2/1/3/2;
    background-color: rgba(black, 0.3);
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 13px 17px;
    color: white;
    text-align: left;
}

.date {
    font-size: 0.9rem;
    text-transform: uppercase;
}

.title {
    font-size: 1.0rem;
    margin: 12px 0 0 0;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.itemNoImage {
    @extend .item;
    border: 2px solid darkgray;

    .metaContainer {
        background-color: inherit;
        color: black;
        grid-area: 1/1/-1/-1;
    }

    .title {
        font-size: 1.4rem;
    }
}