.pageWrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin: 20px 0 17px;
}

.pageTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.9rem;
  margin: 0;
}

.pageSubtitle {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.9rem;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  margin-left: 20px;
}

.spinner {
  font-size: 42px;
  color: #006bff;
}
