.video-section{
    background-color: #EAF3FF;
    display: grid;
    max-width: 1271px;
    margin: 80px auto 50px;
    padding: 0 110px;
}
.specific-title{
    color: rgba(0,0,0,0.9);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
}
.specific-title h3{
    margin: 0;
    color: rgba(0,0,0,0.9);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    text-align: left;
    margin-top: -20px;
}
.video-inner-boxes{
    display: grid;
    grid: auto / auto auto auto;
    grid-column-gap: 30px;
}
.video-box{
    background-color: white;
    position: relative;
    top: 47px;
}
.video-box img{
    max-width: 100%;
}
.video-info {
    grid-area: 2 / 1 / span 2 / span 3;
    padding: 15px;
}
.video-info h3{
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 22px;
    margin: 0;
}