.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.imageWrapper {
  position: relative;
  width: 100%;
}

.hero {
  width: 100%;
}

.meta {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: 30px 1fr 30px;
  grid-gap: 7px;
  grid-template-areas: "headshot category .."
    "headshot title title"
    "headshot author date";
  justify-items: left;
  padding: 14px 15%;
}

.title {
  grid-area: title;
  font-family: 'Unna', serif;
  font-size: 36px;
  margin: 0;
  text-align: left

}

.category {
  grid-area: category;
  justify-self: start;
  color: #006BFF;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.headshot {
  grid-area: headshot;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  align-self: center;
  filter: grayscale(100%);
}

.authorName {
  grid-area: author;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  align-self: end;
}

.date {
  grid-area: date;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  align-self: end;
  justify-self: end;
  text-transform: uppercase;
  font-weight: bold;
}

.bodyWrapper {
  margin: 0 150px;
  background-color: #f2f2f2;

  .body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.5rem;
    text-align: left;
    padding: 25px 14%;

    img {
      display: none; // Hides all body images.
      max-width: 40%;
      height: auto;
      float: left;
      margin: 7px 10px 7px 0;

      .aligncenter {
        display: block;
        float: none;
        max-width: 600px;
        margin: 15px auto;
      }
    }
  }
}