$seriesPrimaryColor: #F8AE0F;

.tileAnchor {
  text-decoration: none;
}

.tile {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  grid-template-areas: "sponsored" "date" "category" "title" "author";
  background-size: cover;
  color: white;
  justify-items: start;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.backgroundImage {
  grid-area: 1/1/-1/-1;

  img {
  width: 100%;
  }
}

.title {
  grid-area: title;
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.sponsored {
  grid-area: sponsored;
  margin: 20px;
  color: black;
  background-color: $seriesPrimaryColor;
  border-radius: 3px;
  padding: 3px 10px;
}

.author {
  grid-area: author;
  margin: 20px;
}

.date {
  grid-area: date;
  margin: 5px 20px;
}

.category {
  grid-area: category;
  margin: 5px 20px;
  text-transform: uppercase;
}