.socialMenu {
  width: 150px;
  transition: transform .5s
  cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  float: right;
  margin-right: 3vw;
  margin-top: -2px;
  &.hide {
    transform: scale3d(0, 0, 0)
  }

  &.show {
    transform: scale3d(100vw, 100vh, 0);
    overflow: hidden;
  }
}

.navList {
  grid-area: navlist;
  display: flex;
  flex-direction: row;
  background-color: black;

  a {
    margin: 18px;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
  }
}
