.menu {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: ". navlist";
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  transition: transform .3s
  cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;

  &.hide {
    transform: translate3d(100vw, 0, 0);
  }

  &.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
}

.navList {
  grid-area: navlist;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;

  a {
    margin: 13px;
    color: white;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
  }
}