.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "hero hero hero"
    "title title title"
    "second second ."
    ". . .";
  grid-gap: 30px;
  padding: 30px;
}

.heading {
  grid-area: title;
  display: flex;
  align-items: center;
  margin-left: calc(20% - 110px);
  margin-bottom: -46px;
  z-index: 2;
  img {
    width: 110px;
  }
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    margin: 0 20px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.9rem;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  margin-left: 20px;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "hero hero"
      "title title"
      "second second"
      ". .";
    grid-gap: 20px;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero"
      "title"
      "second"
      ".";
    grid-gap: 20px;
    padding: 20px;
  }
}