$tp_color--primary: #006BFF;

.wrapper {
    grid-area: hero;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr min-content;
    background-image: var(--wide-bg-image);
    background-size: cover;

    --aspect-ratio: 2/3;

  &::before {
    height: 0;
    content: "";
    display: inline-block;
    padding-bottom: calc(100% * var(--aspect-ratio));
    grid-area: 1/1/-1/-1;
  }

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;

    &::before {
      grid-area: 1/1/2/2;
    }

    .meta {
      grid-area: 2/1/3/3;
      margin-bottom: 0;
    }

    .name {
      font-size: 1.8rem;
      line-height: 1.9rem;
      margin: 7px 0;
    }

    .author {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 670px) {
    .meta {
      padding: 14px;
    }
  }
}

@media only screen and (max-width: 600px) {

    .wrapper {
        background-image: var(--tall-bg-image);
        --aspect-ratio: 3/2;
    }
}

.meta {
    grid-area: 2/2/3/3;
    background-color: $tp_color--primary;
    text-align: left;
    color: black;
    border-radius: 4px 4px 0 0;
    margin-bottom: -20px;
    display: grid;
    padding: 24px 80px;
    grid-template-columns: 1fr;
    grid-template-areas: "time" "title" "subtitle" "author";

}

.name {
  font-family: 'Unna', serif;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
  margin: 14px 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.author {
  grid-area: author;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.date {
  grid-area: time;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}