.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
  align-items: flex-end;
  text-decoration: none;

  a {
    color: #282c34;
    padding: 0 7px;
  }
}