
.inner-img{
    grid-column: 1/4;
    grid-row: 1/6;
}
.inner-img img{
    height: 100%;
}
.article-main-boxs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 50px;
}
.article-box{
    display: grid;
    height: 394px;
}
.article-inner-box{
    display: grid;
    text-decoration: none;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.article-inner-box:hover{
    background-color: rgba(248,174,15,0.8);
}

.article-box .title-article{
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    grid-row: 1/2;
    grid-column: 1;
    padding: 35px 42px;
}
.publication-name{
    grid-row: 3/3;
    grid-column: 2;
    align-self: end;
    /*padding: 35px 42px;*/
}
.article-inner-box:hover .title-article{
    color: #000;
}
.article-box .black-img{
    opacity: 0;
}
.article-box#story-block .black-img{
    opacity: 1;
}
.article-box#story-block .white-img{
    opacity: 0;
}

.articles-snippests{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 17px;
}
.article-pic,.publisher-pic,.article-title{
    align-self: center;
    text-align: center;
}
.articles-snippests .article-title{
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
}

