.titleBar {
  background-color: black;
  color: white;
  font-family: 'Unna', serif;
  font-size: 2.2rem;
  text-align: left;
  max-width: 1366px;
  margin: 0 auto;
  padding: 25px 40px;

  @media only screen and (max-width: 600px) {
    font-size: 1.4rem;
  }
}