.menu {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: ". navlist";
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  transition: transform .3s
  cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;

  &.hide {
    transform: translate3d(100vw, 0, 0);
  }

  &.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
}

.navList {
  grid-area: navlist;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;

  a {
    margin: 13px;
    color: white;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
  }
}

@mixin subnavigation() {
  -moz-transition: max-height $transition_speed;
  -ms-transition: max-height $transition_speed;
  -o-transition: max-height $transition_speed;
  -webkit-transition: max-height $transition_speed;
  transition: max-height $transition_speed;
  overflow: hidden;
  
  li {
      text-align: left;
      margin: 0 0 7px 15px;

    a {
      font-size: 12px;
    }
  }
}

$transition_speed: 0.5s;

.HamburgerCategoriesOpen {
  @include subnavigation();
  height: auto;
  max-height: 200px;
}

.HamburgerCategoriesClosed {
  @include subnavigation();
  max-height: 0;
}

@mixin subMenuToggle() {
  color: white;
  font-size: 16px;
  transition: transform $transition_speed;
}

.subMenuToggleOpen {
  @include subMenuToggle();
  transform: rotate(90deg);
}

.subMenuToggleClosed {
  @include subMenuToggle();
  transform: rotate(0deg);
}