$seriesPrimaryColor: #F8AE0F;

.seriesWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  align-items: end;
}

.heroImage {
  grid-area: 1/1/-1/-1;
  width: 100%;
}

.metaWrapper {
  grid-area: 2/1/-1/-1;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.logoWrapper {
  display: grid;
  background-color: $seriesPrimaryColor;
  padding: 15px 20px 20px;
  margin-top: -25px;
}

.logoTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.logo {
  width: 150px;
}

.meta {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "company button" "title button";
  justify-items: start;
  background-color: black;
  color: white;
}

.company {
  grid-area: company;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  color: $seriesPrimaryColor;
  text-transform: uppercase;
  margin: 16px 0 20px 20px;
}

.title {
  grid-area: title;
  text-align: left;
  font-family: 'Unna', serif;
  font-size: 24px;
  margin: 0 0 20px 20px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.exploreButton {
  grid-area: button;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding: 16px 25px;
  margin: 20px;
  align-self: center;
}