.tile {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-areas: "title"  "logo";
  background-size: cover;

  &::before {
    height: 0;
    content: "";
    display: inline-block;
    padding-bottom: calc( 100% * 3/2 );
    grid-area: 1/1/-1/-1;
    background-color: rgba( black, 0.3 );
  }
}

.overlay {
  grid-area: 1/1/-1/-1;
  background-color: (rgba( black, .2));
}

.title {
  grid-area: title;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  justify-self: stretch;
  text-align: left;
  padding: 15px 0 0 15px;
}

.logo {
  grid-area: logo;
  align-self: end;
  justify-self: end;
  width: 100px;
  margin: 0 15px 15px 0;
}