.the-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
}

.feed-item {
    border: 1px solid red;
    margin: 0 15px;
    padding: 7px;
    background: no-repeat top center;
    background-size: contain;
    color: white;
}