.editors__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            "editor--first editor--second"
            "editor--first editor--third";
}

.editor {
    border: 1px solid green;
    padding: 7px;
    margin: 12px;
}

.editor--first {
    grid-area: editor--first;
}

.editor--second {
    grid-area: editor--second;
}

.editor--third {
    grid-area: editor--third;
}