.editors__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 300px));
    background-color: lightblue;
    grid-gap: 40px;
    margin: 60px 40px;
    justify-content: center;
}