.home-content {
    max-width: 1366px;
    margin: 0 auto;
}

.bts_podcast_wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 40px;
    margin: 40px;
}

.home_events-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    margin: 40px;
}

@media only screen and (max-width: 1000px) {

  .bts_podcast_wrapper {
    grid-template-columns: 1fr;
    margin: 40px;
  }
}