$small_breakpoint: 420px;
$medium_breakpoint: 720px;
$large_breakpoint: 980px;

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content min-content;
  grid-template-areas: "logo . subscribe search hamburger"
    "search-form search-form search-form search-form search-form"
    "subscribe-form subscribe-form subscribe-form subscribe-form subscribe-form";
  padding: 40px 130px 24px;

  @media only screen and (max-width: $medium_breakpoint) {
    padding: 40px 5px 14px;
  }
}

.logo {
  width: 210px;
  grid-area: logo;

  @media only screen and (max-width: $medium_breakpoint) {
    width: 150px;
  }
}

.logoThin {
  width: 500px;
  grid-area: logo;
  margin-top: 8px;

  @media only screen and (max-width: $large_breakpoint) {
    width: 350px;
  }
  @media only screen and (max-width: $medium_breakpoint) {
    width: 300px;
  }
  @media only screen and (max-width: $small_breakpoint) {
    width: 200px;
  }
}

.subscribeToggle {
  grid-area: subscribe;
  align-self: center;
}

.searchButton {
  grid-area: search;
  margin: 0 20px;
  align-self: center;

  @media only screen and (max-width: $medium_breakpoint) {
    margin: 0 5px;
  }
}

.searchForm {
  grid-area: search-form;
}

.subscribeForm {
  grid-area: subscribe-form;
}
