$tp_primary: #006BFF;

.wrapper {
  display: grid;
  grid-template-rows: 200px 1fr 50px;
  background-size: cover;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-gap: 6px;
  padding: 25px 0 25px 25px;
  align-items: center;

  .headerBranding {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .headerTitle {
      text-transform: uppercase;
      font-size: 26px;
      text-align: left;
      margin: 0;

      .titleTrademark {
        font-size: 55%;
        line-height: 1;
        vertical-align: top;
        font-weight: 600;
      }
    }

    .headerSubtitle {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 7px 0;
      text-transform: uppercase;
      align-self: left;
    }
  }

  .headerFrequency {
    color: $tp_primary;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-size: 8px;

    .frequencyDate {
      font-size: 20px;
    }
  }

  .headerHeadshot {
    max-width: 100px;
    border-left: 3px solid $tp_primary;
  }
}

.contentWrapper {
  grid-area: 2/1/3/2;
  color: $tp_primary;
  text-align: left;
  margin: 0 30px;
  filter: none;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.0rem;
  margin: 0;
  line-height: 3.0rem;
}

.date {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.author {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
}

.button {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006BFF;
  color: white;
  text-transform: uppercase;
  margin: 0 30px;
  border: none;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.dateWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  border-top: 3px solid #006bff;
  padding: 15px 0;

  h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.9rem;
  }
}