footer {
    padding: 50px;
        nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}