$tp_color--primary: #006bff;

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "content contact logos" "legal legal legal";
    max-width: 1366px;
    margin: 0 auto;
    padding: 20px 130px;
    text-align: left;
    font-family: Montserrat, sans-serif;

    @media only screen and (max-width: 800px) {
        padding: 20px;
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "content logos" "contact logos" "legal legal";
    }
}

@mixin navlist {
    font-size: 16px;
    line-height: 22px;

    a {
        display: block;
        text-decoration: none;
        color: $tp_color--primary;
    }
}

.content {
    @include navlist;
    grid-area: content;
}

.contact{
    @include navlist;
    grid-area: contact;
}

.logos {
    grid-area: logos;

    img {
        max-width: 100%;
    }

}

.legal {
    grid-area: legal;

    a {
        color: $tp_color--primary;
        text-decoration: none;
    }
}