.formWrapper {
  transition: height 1s cubic-bezier(0, .52, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.open {
    height: 100px;

    .searchBox {
      display: block;
    }

    .button {
      display: block;
    }
  }

  &.closed {
    height: 0;

    .searchBox {
      display: none;
    }

    .button {
      display: none;
    }
  }
}

.searchBox {
  width: 300px;
  height: 40px;
  border-radius: 7px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 7px;
}

.button {
  height: 40px;
  background-color: #006bff;
  color: white;
  margin-left: 15px;
  font-size: 25px;
  border-radius: 7px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}