$medium_breakpoint: 720px;

.toggle {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  font-family: Montserrat, sans-serif;

  &.visible {
    background-color: gray;
    color: white;
    padding: 7px;
    border-radius: 7px;
  }
}