$medium_breakpoint: 550px;
$tp_blue: #006BFF;

.expandWrapper {
  overflow: hidden;
  transition: height 1.0s;

  &.open {
    transition: height 1.0s;
  }

}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "daily weekly" "email_form email_form" "privacy_policy privacy_policy";
  grid-gap: 20px;
  background-color: #ebebeb;
  padding: 25px;
  max-width: 764px;
  margin: 0 auto;

  @media only screen and (max-width: 550px) {
    grid-template-columns: 1fr;
    grid-template-areas: "daily" "weekly" "email_form" "privacy_policy";
  }
}

@mixin newsletter_selector() {
  background-color: white;
  display: grid;
  grid-template-rows: 90px auto 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px;

  .description {
    color: rgba(0,0,0,0.5);
    font-family: Helvetica, sans-serif;
    font-size: 16px;

    .frequency {
      color: $tp_blue;
      font-weight: bold;
    }
  }
  
  .addButton {
    cursor: pointer;
    background-color: $tp_blue;
    color: white;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
    padding: 0;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    justify-self: center;
  }

  .addButton_selected {
    @extend .addButton;
    font-size: 26px;
    color: $tp_blue;
    background-color: white;
    border: 1px solid $tp_blue;
  }

  .addButtonSubtext {
    text-transform: uppercase;
    font-size: 12px;
    height: 15px;
  }
}

.dailySelector {
  @include newsletter_selector();
  grid-area: daily;
}

.weeklySelector {
  @include newsletter_selector();
  grid-area: weekly;
}

.form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr min-content;
  align-items: center;
  grid-area: email_form;
  background-color: $tp_blue;
  padding: 16px;

  @media only screen and (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.emailBox {
  height: 40px;
  border: none;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 7px;
  background-color: $tp_blue;
  color: white;

  &::placeholder {
    color: white;
  }

  @media only screen and (max-width: $medium_breakpoint) {
    width: 220px;
    height: 30px;
    font-size: 18px;
    padding-left: 4px;
  }
}

.emailBox_noneSelected {
  grid-area: email_form;
  background-color: rgba(155,155,155,0.25);
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
}

.submitButton_enabled {
  height: 32px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  border: 1px solid white;
  padding: 8px 18px;
  cursor: pointer;

  @media only screen and (max-width: 550px) {
    justify-self: center;
  }
}

.submitButton_disabled {
  @extend .submitButton_enabled;
  background-color: #006bff;
  color: white;
}

.thankyou_container {
  display: grid;
  grid-area: 1/1/-1/-1;

  .thankyou_thanks {
    font-size: 48px;
    font-family: 'Unna', serif;
    font-weight: bold;
    margin: 20px;
  }

  .thankyou_almostDone {
    color: $tp_blue;
    font-size: 80px;
    font-family: Montserrat, sans-serif;
    margin: 20px;
  }

  .thankyou_confirmationDetails {
    font-family: Helvetica, sans-serif;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    margin: 20px;

    .thankyou_confirmationSent {
      text-transform: uppercase;
      color: black;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 24px;
    }

    p {
      margin: 5px;
    }
  }

  @media only screen and (max-width: 550px) {
    
    .thankyou_thanks {
      font-size: 32px;
    }

    .thankyou_almostDone {
      font-size: 54px;
    }

    .thankyou_confirmationDetails {
      font-size: 12px;

      .thankyou_confirmationSent {
        font-size: 16px;
      }
    }
  }
}

.privacyPolicy {
  grid-area: privacy_policy;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  margin-top: 7px;

  a {
    color: inherit;
  }
}