$medium_breakpoint: 550px;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "daily weekly" "email_form email_form";
  grid-gap: 20px;
  transition: height 1s cubic-bezier(0, .52, 0, 1);
  height: 0;
  background-color: #ebebeb;
  margin: 0 30px;
  padding: 25px 100px;

  &.open {
    height: 100px;

    .emailBox {
      display: block;
    }

    .button {
      display: block;
    }

    .privacyPolicy {
      display: block;
    }
  }
}

@mixin newsletter_selector() {
  border: 2px solid red;
  background-color: white;
}

.dailySelector {
  @include newsletter_selector();
  grid-area: daily;
}

.weeklySelector {
  @include newsletter_selector();
  grid-area: weekly;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: email_form;
}

.emailBox {
  display: none;
  width: 300px;
  height: 40px;
  border-radius: 7px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 7px;

  @media only screen and (max-width: $medium_breakpoint) {
    width: 220px;
    height: 30px;
    font-size: 18px;
    padding-left: 4px;
  }
}

.button {
  display: none;
  height: 40px;
  background-color: #006bff;
  color: white;
  margin-left: 15px;
  font-size: 25px;
  border-radius: 7px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;

  @media only screen and (max-width: $medium_breakpoint) {
    height: 30px;
    margin-left: 7px;
    font-size: 18px;
  }
}

.thanksMessage {
  transition: height 1s cubic-bezier(0, .52, 0, 1);
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  height: 0;

  &.open {
    height: 100px;

    h3 {
      display: block;
    }
  }

  h3 {
    display: none;
  }
}

.privacyPolicy {
  display: none;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  margin-top: 7px;

  a {
    color: #006bff;
  }
}